/* Hacer un menu hamburguesapara el navbar */
.container .content  {
  margin: 0 !important;
}

#first-question,
#second-question,
#third-question,
#fourth-question {
  margin: 0 !important;
}

.navbar {
  flex-direction: column;
}

li a:active {
  color: #000;
}

.container .content {
  width: 100%;
  text-align: center;
}

.questions article img {
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer .social a {
  margin: 0 1.5em 0 1.5em;
}

.footer .links,
.footer .social {
  align-items: center;
  justify-content: center;
}

.footer .links a:hover {
  border-bottom: none;
}

.footer .links a:active {
  color: #000000;
}
