* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color:  #F9F0F0;   /*#702B2B #B05454*/;
  color: #0E0606;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
  letter-spacing: .05em;
  word-spacing: .2em;
}

h1,
h2,
h3,
.navbar,
footer {
  font-family: "Love Ya Like A Sister", "Roboto", "Helvetica Neue", Helvetica,
    Arial;
}

h1{
    text-align: center;
    margin-bottom: 1em;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "header header header header"
    "navbar navbar navbar navbar"
    "content content content content"
    "footer footer footer footer";
}

.container header {
  text-align: center;
  grid-area: header;
}

.container header img {
  max-width: 450px;
  margin: 0.5em;
}

.fixed-header{
    position: fixed;
    width: 100%;
}

/****************NAVBAR********************/
.navbar {
    
    list-style-type: none;
    grid-area: navbar;
    display: flex;
    justify-content: space-around;
}

.navbar li {
  padding-bottom: 0.5em;
  position: relative;
  grid-area: submenu;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.navbar li a {
  color: #fff;
  text-decoration: none;
}

.navbar ul {
  background-color: #0E0606;
  border-bottom: 2px solid #dacc96;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  display: none;
  position: absolute;
  top: 100%;
  list-style-type: none;
  width: 9.5em;
}

.navbar ul ul {
  left: 100%;
  position: absolute;
  top: 0;
}

li a:hover {
  /*color: #000;*/
  border-bottom: 2px solid #bf8b67;
}

.navbar li:hover > ul {
  display: flex;
  flex-direction: column;
  
}
/****************NAVBAR********************/
/*
.container .content
.container .aside{
  color: #F9F0F0;
  padding: 1em;
  border-radius: 0.5em;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
}

/*.container .aside {
  margin: 20px;
  background: #d5aa84;
  grid-area: aside;
}*/

.container .content {
  margin: 9em 3em 3em 3em;
  grid-area: content;
}

.container .footer {
  grid-area: footer;
}

.container .footer,
.container .header,
.container .navbar {
  background: #0E0606;
  color: #F9F0F0;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer .links,
.footer .social {
  display: flex;
  align-items: center;
}

.footer .links a {
  color: #F9F0F0;
  padding: 0.5em;
  text-decoration: none;
}

.footer .links a:hover {
  /*color: #000;*/
  border-bottom: 2px solid #bf8b67;
}

.footer .social a {
  margin-right: 0.6em;
}

.footer img {
  max-width: 45px;
}

/*
@media only screen and  (max-width: 600px){
    
    .footer {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

}*/