@import url("./mobile.css") screen and (min-width: 250px) and (max-width: 768px);
/* @import url("./landscape.css") only screen and (orientation: landscape) and (min-width: 768px);   Verificar en horizontal*/
@import url("./bigScreen.css") screen and (min-width: 1250px);

/* // Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #f9f0f0;
  color: #0e0606;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
  letter-spacing: 0.01em;
  word-spacing: 0.2em;
  line-height: 1.45em;
}

h1,
h2,
h3,
.navbar,
footer {
  font-family: "Love Ya Like A Sister", "Roboto", "Helvetica Neue", Helvetica,
    Arial;
}

h1 {
  text-align: center;
  margin-bottom: 1em;
}

div.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "fixed-header fixed-header fixed-header fixed-header"
    "slide slide slide slide"
    "content content content content"
    "footer footer footer footer";
}

.container .fixed-header {
  position: sticky;
  grid-area: fixed-header;
  width: 100%;
  top: 0;
}

.container header.header {
  text-align: center;
}

.container header img {
  max-width: 20em;
  margin: 0.5em;
}

/****************NAVBAR********************/
.navbar {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.navbar li {
  padding-bottom: 0.5em;
  position: relative;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.navbar li a {
  color: #fff;
  text-decoration: none;
}

.navbar ul {
  background-color: #0e0606;
  border-bottom: 0.1em solid #dacc96;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  display: none;
  position: absolute;
  top: 100%;
  list-style-type: none;
  width: 9.5em;
}

.navbar ul ul {
  left: 100%;
  position: absolute;
  top: 0;
}

li a:hover {
  /*color: #000;*/
  border-bottom: 0.1em solid #bf8b67;
}

.navbar li:hover > ul {
  display: flex;
  flex-direction: column;
}
/****************NAVBAR********************/

/****************CAROUSEL******************/
.slide {
  grid-area: slide;
  width: 100%;
  overflow: hidden;
  background-color: #f9f0f0;
}

.slide ul {
  padding: 0;
  display: flex;
  width: 500%;
  animation: change 20s infinite alternate;
}
.slide li {
  width: 100%;
  list-style: none;
}

.slide img {
  width: 100%;
  height: 100%;
}

@keyframes change {
  0% {
    margin-left: 0;
  }
  15% {
    margin-left: 0;
  }

  20% {
    margin-left: -100%;
  }
  40% {
    margin-left: -100%;
  }

  45% {
    margin-left: -200%;
  }
  60% {
    margin-left: -200%;
  }

  65% {
    margin-left: -300%;
  }
  80% {
    margin-left: -300%;
  }

  85% {
    margin-left: -400%;
  }
  100% {
    margin-left: -400%;
  }
}

/****************CAROUSEL******************/
/*
.container .content
.container .aside{
  color: #F9F0F0;
  padding: 1em;
  border-radius: 0.5em;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
}

/*.container .aside {
  margin: 20px;
  background: #d5aa84;
  grid-area: aside;
}*/

#who-we-are {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #521a0b;
  text-align: center;
  color: #f9f0f0;
}

#who-we-are p {
  padding-right: 1em;
  padding-left: 1em;
}

#who-we-are h2 {
  color: #edce98;
}

.container .content {
  grid-area: content;
}

.first-letter::first-letter {
  font-size: 35px;
  line-height: 35px;
  font-family: "Love Ya Like A Sister", "Roboto", "Helvetica Neue", Helvetica,
    Arial;
}

.container .footer {
  grid-area: footer;
}

.container .footer,
.container .header,
.container .navbar {
  background: #0e0606;
  color: #f9f0f0;
}

/* .questions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
} */

#first-question,
#second-question,
#third-question,
#fourth-question,
#find-us {
  flex-direction: column;
  text-align: center;
  width: 100%;
}

#first-question .question_answer,
#second-question .question_answer,
#third-question .question_answer,
#fourth-question .question_answer {
  margin: 1em;
}

#first-question .whisky_img,
#second-question .whisky_img,
#third-question .whisky_img,
#fourth-question .whisky_img {
  width: 100%;
}

#find-us .question_answer {
  margin: 2em 3em 2em 3em;
}

#find-us {
  background-color: #edce98;
  text-align: center;
}

#third-question,
#fourth-question {
  background-color: #521a0b;
  text-align: center;
  color: #f9f0f0;
}

#first-question,
#second-question,
#third-question,
#fourth-question,
#find-us {
  display: flex;
  justify-content: space-between;
}

/* Style the form */
#signup {
  margin: 4rem auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

/* Style the input fields */
.form-field input {
  margin: .1rem;
  padding: 7px;
  width: 100%;
  font-size: 17px;
  border: 0.1em solid #0e0606;
  border-radius: 0.5em;
}

input[type="submit"] {
  margin-top: 0;
  width: 25%;
  background-color: #521a0b;
  border: none;
  color: #f9f0f0;
  cursor: pointer;
  float: right;
} 

.form-field small {
  color: red;
  margin-left: .5em;
}

.footer {
  background-color: #0e0606;
  display: flex;
  justify-content: space-between;
}

.footer .links,
.footer .social {
  display: flex;
  align-items: center;
}

.footer .links a {
  color: #f9f0f0;
  padding: 0.5em;
  text-decoration: none;
}

.footer .links a:hover {
  border-bottom: 0.1em solid #bf8b67;
}

.footer .social a {
  margin-right: 1.5em;
}

.footer img {
  max-width: 3em;
}
