/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #693a3a;
    color: #f6f7e9;
    font-family: 'Love Ya Like A Sister','Roboto','Helvetica Neue', Helvetica, Arial;
}

.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, auto);
    grid-template-areas:"header header header header"
                        "navbar navbar navbar navbar"
                        "aside content content content"
                        "footer footer footer footer"
}

.container header{
    text-align: center;
	grid-area: header;
}

.container header img{
    max-width: 400px;
    margin: .5em;
}

/* REVISAR  VERIFICAR DE HACER CON FLEXBOX LO MISMO*/
.navbar {
    list-style-type: none;
    grid-area: navbar;
    display: flex;
    justify-content: space-around;
}

.navbar li {
    padding-bottom: .5em; 
    border-radius: .5em;
    /* Used to position the sub navbar */
    position: relative;
}

.navbar li a{
    color:#fff;
    text-decoration:none;
}

/* The sub navbar */
.navbar ul {
    /* Border */
    border: 1px;

    /* Hidden by default */
    display: none;

    /* Absolute position */
    left: 0;
    position: absolute;
    top: 100%;

    /* Reset styles */
    list-style-type: none;
    margin: 0;
    padding: 0;

    /* Width */
    width: 200px;
}

/* The second level sub navbar */
.navbar ul ul {
    left: 100%;
    position: absolute;
    top: 0;
}

/* Change background color of list item when being hovered */
li div:hover,
li a:hover {
    color: #000;
}

/* Show the direct sub navbar when hovering the list item */
.navbar li:hover > ul {
    display: block;
}
/* REVISAR */



.container .content, 
.container .aside{
	color: #000;
    padding: 1em;
	border-radius: .5em;
    font-family: 'Roboto','Helvetica Neue', Helvetica, Arial;
}   

.container .aside{
    margin: 20px;
    background: #BF8B67;
    grid-area: aside;
}

.container .content{
    margin: 20px;
    background:#DACC96;
	grid-area: content;
}

.container .footer{
    grid-area: footer;
}

.container .footer,
.container .header,
.container .navbar {
	background:  #632626;
	color: #fff;
}

.footer {
    display: flex;
	justify-content: space-between;
}

.footer .links,
.footer .social{
	display:flex;
	align-items: center;
}

.footer .links a {
	color:#fff;
	padding: .5em;
    text-decoration:none;
}

.footer .links a:hover {
	color:#000;
}

.footer .social a {
	margin-right: .6em;
}

.footer img{
    max-width: 45px;
}